In [33]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from src.preprocessing.clean import clean_text

In [34]:
!wget https://ai-ml-dl---datasets.s3.us-east-1.amazonaws.com/test-task-dataset/imdb.csv -O imdb.csv

--2026-01-19 00:04:37--  https://ai-ml-dl---datasets.s3.us-east-1.amazonaws.com/test-task-dataset/imdb.csv
Resolving ai-ml-dl---datasets.s3.us-east-1.amazonaws.com (ai-ml-dl---datasets.s3.us-east-1.amazonaws.com)... 16.15.202.138, 16.15.223.138, 3.5.0.46, ...
Connecting to ai-ml-dl---datasets.s3.us-east-1.amazonaws.com (ai-ml-dl---datasets.s3.us-east-1.amazonaws.com)|16.15.202.138|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 66212309 (63M) [text/csv]
Saving to: ‘imdb.csv’

imdb.csv            100%[===================>]  63.14M  2.23MB/s    in 27s

2026-01-19 00:05:05 (2.37 MB/s) - ‘imdb.csv’ saved [66212309/66212309]

In [35]:
file_path = "imdb.csv"

df = pd.read_csv(file_path)

df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [36]:
print("unique values of sentiment: ", df['sentiment'].unique())

unique values of sentiment:  ['positive' 'negative']

In [37]:
print("value count of sentiment: ", df['sentiment'].value_counts())

value count of sentiment:  sentiment
positive    25000
negative    25000
Name: count, dtype: int64

In [38]:
df['review'] = df['review'].apply(clean_text)

In [39]:
df['sentiment'] = df['sentiment'].map({'positive': 1, 'negative': 0})

print("unique values: ", df['sentiment'].unique() )

unique values:  [1 0]

In [40]:
print("count unique value: ", df['sentiment'].value_counts())

count unique value:  sentiment
1    25000
0    25000
Name: count, dtype: int64

In [41]:
df_neg = df[df['sentiment'] == 0].sample(n=250, random_state=42)
df_pos = df[df['sentiment'] == 1].sample(n=250, random_state=42)

df_sample = pd.concat([df_neg, df_pos])

In [42]:
df_sample = df_sample.sample(frac=1, random_state=42).reset_index(drop=True)

In [43]:
df_sample.head()

                                              review  sentiment
0  amazing movie i saw this movie for the first t...          1
1  well i just paid a dollar for a dvd of this mo...          0
2  it is queen victorias misfortune to be defined...          1
3  it seems the makers of this film had trouble d...          0
4  the final film for ernst lubitsch, completed b...          0

In [44]:
print(df_sample.shape)

(500, 2)

In [46]:
df_sample.to_csv('imdb_sample_500.csv', index=False)

print("✅ File saved to current directory: imdb_sample_500.csv")

✅ File saved to current directory: imdb_sample_500.csv