In [ ]:
import sys
import os
import pandas as pd
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from src.preprocessing.clean import clean_text

In [7]:
!wget https://ai-ml-dl---datasets.s3.us-east-1.amazonaws.com/test-task-dataset/tweets.csv -O tweets.csv

--2026-01-18 23:51:38--  https://ai-ml-dl---datasets.s3.us-east-1.amazonaws.com/test-task-dataset/tweets.csv
Resolving ai-ml-dl---datasets.s3.us-east-1.amazonaws.com (ai-ml-dl---datasets.s3.us-east-1.amazonaws.com)... 54.231.195.58, 16.15.183.16, 54.231.228.18, ...
Connecting to ai-ml-dl---datasets.s3.us-east-1.amazonaws.com (ai-ml-dl---datasets.s3.us-east-1.amazonaws.com)|54.231.195.58|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 238803811 (228M) [text/csv]
Saving to: ‘tweets.csv’

tweets.csv          100%[===================>] 227.74M  2.82MB/s    in 96s

2026-01-18 23:53:15 (2.37 MB/s) - ‘tweets.csv’ saved [238803811/238803811]

In [8]:
file_path="tweets.csv"

In [9]:
cols = ['target', 'ids', 'date', 'flag', 'user', 'text']

df = pd.read_csv(file_path, header=None, names=cols, encoding='latin-1')

df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [11]:
print("Unique Target values: ", df['target'].unique())

print(df['target'].value_counts())

Unique Target values:  [0 4]
target
0    800000
4    800000
Name: count, dtype: int64

[Sentiment140 dataset](https://www.kaggle.com/datasets/kazanova/sentiment140/data/)

In [12]:
df = df[['target', 'text']]

print(df.head())

print(df.shape)

   target                                               text
0       0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1       0  is upset that he can't update his Facebook by ...
2       0  @Kenichan I dived many times for the ball. Man...
3       0    my whole body feels itchy and like its on fire
4       0  @nationwideclass no, it's not behaving at all....
(1600000, 2)

In [13]:
df['target'] = df['target'].replace(4,1)

print("unique target values: ", df['target'].unique())

print(df['target'].value_counts())

unique target values:  [0 1]
target
0    800000
1    800000
Name: count, dtype: int64

In [14]:
df_neg = df[df['target'] == 0].sample(n=250, random_state=42)

df_pos = df[df['target'] == 1].sample(n=250, random_state=42)

df_sample = pd.concat([df_neg, df_pos])

df_sample = df_sample.sample(frac=1, random_state=42).reset_index(drop=True)

df_sample['text'] = df_sample['text'].apply(clean_text)

print("New dataset shape: ", df_sample.shape)

print(df_sample['target'].value_counts())

print(df_sample.head())

New dataset shape:  (500, 2)
target
1    250
0    250
Name: count, dtype: int64
   target                                               text
0       1  is getting ready for a day outside. i should g...
1       0  i need a hug...and less cynicism. its making m...
2       1  mojitos are really good. hanging out with the ...
3       0          up since 300. going to be a looooong day.
4       0                                      naw are you!?

In [21]:
df_sample.to_csv('tweets_sample_500.csv', index=False)

print("✅ File saved to the current directory: tweets_sample_500.csv")

✅ File saved to the current directory: tweets_sample_500.csv